@use "sass:math";
$dark: black;
/* $light: #; */
$primary: green;
$secondary: red;
/* $accenture: #; */

$hex_polygon: polygon(
  25% 0%,
  75% 0%,
  100% 50%,
  75% 100%,
  25% 100%,
  0% 50%
); // orizontal
$quadrant_polygon: polygon(
  43.75% 0%,
  56.25% 0%,
  62.5% 10%,
  75% 10%,
  81.25% 20%,
  93% 20%,
  100% 30%,
  93.75% 40%,
  100% 50%,
  93.75% 60%,
  100% 70%,
  93.75% 80%,
  81.25% 80%,
  75% 90%,
  62.5% 90%,
  56.25% 100%,
  43.75% 100%,
  37.5% 90%,
  25% 90%,
  18.75% 80%,
  6.25% 80%,
  0% 70%,
  6.25% 60%,
  0% 50%,
  6.25% 40%,
  0% 30%,
  6.25% 20%,
  18.75% 20%,
  25% 10%,
  37.5% 10%
);

$quadrant_A_polygon: polygon(
  43.75% 0%,
  56.25% 0%,
  62.5% 10%,
  75% 10%,
  81.25% 20%,
  93% 20%,
  100% 30%,
  93.75% 40%,
  100% 50%,
  93.75% 60%,
  100% 70%,
  93.75% 80%,
  81.25% 80%,
  75% 90%,
  62.5% 90%,
  56.25% 100%,
  43.75% 100%,
  37.5% 90%,
  25% 90%,
  18.75% 80%,
  6.25% 80%,
  0% 70%,
  6.25% 60%,
  0% 50%,
  6.25% 40%,
  0% 30%,
  6.25% 20%,
  18.75% 20%,
  25% 10%,
  37.5% 10%
);
$quadrant_B_polygon: polygon(
  43.75% 0%,
  56.25% 0%,
  62.5% 10%,
  75% 10%,
  81.25% 20%,
  93% 20%,
  100% 30%,
  93.75% 40%,
  100% 50%,
  93.75% 60%,
  100% 70%,
  93.75% 80%,
  81.25% 80%,
  75% 90%,
  62.5% 90%,
  56.25% 80%,
  43.75% 80%,
  37.5% 90%,
  25% 90%,
  18.75% 80%,
  25% 70%,
  18.75% 60%,
  6.25% 60%,
  0% 50%,
  6.25% 40%,
  0% 30%,
  6.25% 20%,
  18.75% 20%,
  25% 10%,
  37.5% 10%
);

$quadrant_C_polygon: polygon(
  43.75% 0%,
  56.25% 0%,
  62.5% 10%,
  75% 10%,
  81.25% 20%,
  93% 20%,
  100% 30%,
  93.75% 40%,
  100% 50%,
  93.75% 60%,
  100% 70%,
  93.75% 80%,
  81.25% 80%,
  75% 90%,
  62.5% 90%,
  56.25% 100%,
  43.75% 100%,
  37.5% 90%,
  25% 90%,
  18.75% 80%,
  25% 70%,
  18.75% 60%,
  6.25% 60%,
  0% 50%,
  6.25% 40%,
  18.75% 40%,
  25% 30%,
  18.75% 20%,
  25% 10%,
  37.5% 10%
);

$quadrant_D_polygon: polygon(
  43.75% 20%,
  56.25% 20%,
  62.5% 10%,
  75% 10%,
  81.25% 20%,
  93% 20%,
  100% 30%,
  93.75% 40%,
  100% 50%,
  93.75% 60%,
  100% 70%,
  93.75% 80%,
  81.25% 80%,
  75% 90%,
  62.5% 90%,
  56.25% 100%,
  43.75% 100%,
  37.5% 90%,
  25% 90%,
  18.75% 80%,
  6% 80%,
  0% 70%,
  6.25% 60%,
  0% 50%,
  6.25% 40%,
  18.75% 40%,
  25% 30%,
  18.75% 20%,
  25% 10%,
  37.5% 10%
);

$quadrant_E_polygon: polygon(
  43.75% 20%,
  56.25% 20%,
  62.5% 10%,
  75% 10%,
  81.25% 20%,
  75% 30%,
  81.25% 40%,
  93.75% 40%,
  100% 50%,
  93.75% 60%,
  100% 70%,
  93.75% 80%,
  81.25% 80%,
  75% 90%,
  62.5% 90%,
  56.25% 100%,
  43.75% 100%,
  37.5% 90%,
  25% 90%,
  18.75% 80%,
  6% 80%,
  0% 70%,
  6.25% 60%,
  0% 50%,
  6.25% 40%,
  0% 30%,
  6.25% 20%,
  18.75% 20%,
  25% 10%,
  37.5% 10%
);

$quadrant_F_polygon: polygon(
  43.75% 0%,
  56.25% 0%,
  62.5% 10%,
  75% 10%,
  81.25% 20%,
  75% 30%,
  81.25% 40%,
  93.75% 40%,
  100% 50%,
  93.75% 60%,
  81.25% 60%,
  75% 70%,
  81.25% 80%,
  75% 90%,
  62.5% 90%,
  56.25% 100%,
  43.75% 100%,
  37.5% 90%,
  25% 90%,
  18.75% 80%,
  6% 80%,
  0% 70%,
  6.25% 60%,
  0% 50%,
  6.25% 40%,
  0% 30%,
  6.25% 20%,
  18.75% 20%,
  25% 10%,
  37.5% 10%
);
$quadrant_G_polygon: polygon(
  43.75% 0%,
  56.25% 0%,
  62.5% 10%,
  75% 10%,
  81.25% 20%,
  93.75% 20%,
  100% 30%,
  93.75% 40%,
  100% 50%,
  93.75% 60%,
  81.25% 60%,
  75% 70%,
  81.25% 80%,
  75% 90%,
  62.5% 90%,
  56.25% 80%,
  43.75% 80%,
  37.5% 90%,
  25% 90%,
  18.75% 80%,
  6% 80%,
  0% 70%,
  6.25% 60%,
  0% 50%,
  6.25% 40%,
  0% 30%,
  6.25% 20%,
  18.75% 20%,
  25% 10%,
  37.5% 10%
);
$quadrant_H_polygon: polygon(
  43.75% 0%,
  56.25% 0%,
  62.5% 10%,
  75% 10%,
  81.25% 20%,
  93% 20%,
  100% 30%,
  93.75% 40%,
  100% 50%,
  93.75% 60%,
  100% 70%,
  93.75% 80%,
  81.25% 80%,
  75% 90%,
  62.5% 90%,
  56.25% 80%,
  43.75% 80%,
  37.5% 90%,
  25% 90%,
  18.75% 80%,
  25% 70%,
  18.75% 60%,
  6.25% 60%,
  0% 50%,
  6.25% 40%,
  0% 30%,
  6.25% 20%,
  18.75% 20%,
  25% 10%,
  37.5% 10%
);

$quadrant_I_polygon: polygon(
  43.75% 0%,
  56.25% 0%,
  62.5% 10%,
  75% 10%,
  81.25% 20%,
  93% 20%,
  100% 30%,
  93.75% 40%,
  100% 50%,
  93.75% 60%,
  100% 70%,
  93.75% 80%,
  81.25% 80%,
  75% 90%,
  62.5% 90%,
  56.25% 80%,
  43.75% 80%,
  37.5% 90%,
  25% 90%,
  18.75% 80%,
  25% 70%,
  18.75% 60%,
  6.25% 60%,
  0% 50%,
  6.25% 40%,
  18.75% 40%,
  25% 30%,
  18.75% 20%,
  25% 10%,
  37.5% 10%
);

$quadrant_L_polygon: polygon(
  43.75% 0%,
  56.25% 0%,
  62.5% 10%,
  75% 10%,
  81.25% 20%,
  93% 20%,
  100% 30%,
  93.75% 40%,
  100% 50%,
  93.75% 60%,
  100% 70%,
  93.75% 80%,
  81.25% 80%,
  75% 90%,
  62.5% 90%,
  56.25% 100%,
  43.75% 100%,
  37.5% 90%,
  25% 90%,
  18.75% 80%,
  25% 70%,
  18.75% 60%,
  6.25% 60%,
  0% 50%,
  6.25% 40%,
  18.75% 40%,
  25% 30%,
  18.75% 20%,
  25% 10%,
  37.5% 10%
);

$quadrant_M_polygon: polygon(
  43.75% 20%,
  56.25% 20%,
  62.5% 10%,
  75% 10%,
  81.25% 20%,
  93% 20%,
  100% 30%,
  93.75% 40%,
  100% 50%,
  93.75% 60%,
  100% 70%,
  93.75% 80%,
  81.25% 80%,
  75% 90%,
  62.5% 90%,
  56.25% 100%,
  43.75% 100%,
  37.5% 90%,
  25% 90%,
  18.75% 80%,
  25% 70%,
  18.75% 60%,
  6.25% 60%,
  0% 50%,
  6.25% 40%,
  18.75% 40%,
  25% 30%,
  18.75% 20%,
  25% 10%,
  37.5% 10%
);

$quadrant_N_polygon: polygon(
  43.75% 20%,
  56.25% 20%,
  62.5% 10%,
  75% 10%,
  81.25% 20%,
  93% 20%,
  100% 30%,
  93.75% 40%,
  100% 50%,
  93.75% 60%,
  100% 70%,
  93.75% 80%,
  81.25% 80%,
  75% 90%,
  62.5% 90%,
  56.25% 100%,
  43.75% 100%,
  37.5% 90%,
  25% 90%,
  18.75% 80%,
  6% 80%,
  0% 70%,
  6.25% 60%,
  0% 50%,
  6.25% 40%,
  18.75% 40%,
  25% 30%,
  18.75% 20%,
  25% 10%,
  37.5% 10%
);

$quadrant_O_polygon: polygon(
  43.75% 20%,
  56.25% 20%,
  62.5% 10%,
  75% 10%,
  81.25% 20%,
  75% 30%,
  81.25% 40%,
  93.75% 40%,
  100% 50%,
  93.75% 60%,
  100% 70%,
  93.75% 80%,
  81.25% 80%,
  75% 90%,
  62.5% 90%,
  56.25% 100%,
  43.75% 100%,
  37.5% 90%,
  25% 90%,
  18.75% 80%,
  6% 80%,
  0% 70%,
  6.25% 60%,
  0% 50%,
  6.25% 40%,
  18.75% 40%,
  25% 30%,
  18.75% 20%,
  25% 10%,
  37.5% 10%
);

$quadrant_P_polygon: polygon(
  43.75% 20%,
  56.25% 20%,
  62.5% 10%,
  75% 10%,
  81.25% 20%,
  75% 30%,
  81.25% 40%,
  93.75% 40%,
  100% 50%,
  93.75% 60%,
  100% 70%,
  93.75% 80%,
  81.25% 80%,
  75% 90%,
  62.5% 90%,
  56.25% 100%,
  43.75% 100%,
  37.5% 90%,
  25% 90%,
  18.75% 80%,
  6% 80%,
  0% 70%,
  6.25% 60%,
  0% 50%,
  6.25% 40%,
  0% 30%,
  6.25% 20%,
  18.75% 20%,
  25% 10%,
  37.5% 10%
);

$quadrant_Q_polygon: polygon(
  43.75% 20%,
  56.25% 20%,
  62.5% 10%,
  75% 10%,
  81.25% 20%,
  75% 30%,
  81.25% 40%,
  93.75% 40%,
  100% 50%,
  93.75% 60%,
  81.25% 60%,
  75% 70%,
  81.25% 80%,
  75% 90%,
  62.5% 90%,
  56.25% 100%,
  43.75% 100%,
  37.5% 90%,
  25% 90%,
  18.75% 80%,
  6% 80%,
  0% 70%,
  6.25% 60%,
  0% 50%,
  6.25% 40%,
  0% 30%,
  6.25% 20%,
  18.75% 20%,
  25% 10%,
  37.5% 10%
);
$quadrant_R_polygon: polygon(
  43.75% 0%,
  56.25% 0%,
  62.5% 10%,
  75% 10%,
  81.25% 20%,
  75% 30%,
  81.25% 40%,
  93.75% 40%,
  100% 50%,
  93.75% 60%,
  81.25% 60%,
  75% 70%,
  81.25% 80%,
  75% 90%,
  62.5% 90%,
  56.25% 100%,
  43.75% 100%,
  37.5% 90%,
  25% 90%,
  18.75% 80%,
  6% 80%,
  0% 70%,
  6.25% 60%,
  0% 50%,
  6.25% 40%,
  0% 30%,
  6.25% 20%,
  18.75% 20%,
  25% 10%,
  37.5% 10%
);

$quadrant_S_polygon: polygon(
  43.75% 0%,
  56.25% 0%,
  62.5% 10%,
  75% 10%,
  81.25% 20%,
  75% 30%,
  81.25% 40%,
  93.75% 40%,
  100% 50%,
  93.75% 60%,
  81.25% 60%,
  75% 70%,
  81.25% 80%,
  75% 90%,
  62.5% 90%,
  56.25% 80%,
  43.75% 80%,
  37.5% 90%,
  25% 90%,
  18.75% 80%,
  6% 80%,
  0% 70%,
  6.25% 60%,
  0% 50%,
  6.25% 40%,
  0% 30%,
  6.25% 20%,
  18.75% 20%,
  25% 10%,
  37.5% 10%
);
$quadrant_T_polygon: polygon(
  43.75% 0%,
  56.25% 0%,
  62.5% 10%,
  75% 10%,
  81.25% 20%,
  93.75% 20%,
  100% 30%,
  93.75% 40%,
  100% 50%,
  93.75% 60%,
  81.25% 60%,
  75% 70%,
  81.25% 80%,
  75% 90%,
  62.5% 90%,
  56.25% 80%,
  43.75% 80%,
  37.5% 90%,
  25% 90%,
  18.75% 80%,
  6% 80%,
  0% 70%,
  6.25% 60%,
  0% 50%,
  6.25% 40%,
  0% 30%,
  6.25% 20%,
  18.75% 20%,
  25% 10%,
  37.5% 10%
);
$quadrant_U_polygon: polygon(
  43.75% 0%,
  56.25% 0%,
  62.5% 10%,
  75% 10%,
  81.25% 20%,
  93% 20%,
  100% 30%,
  93.75% 40%,
  100% 50%,
  93.75% 60%,
  100% 70%,
  93.75% 80%,
  81.25% 80%,
  75% 90%,
  62.5% 90%,
  56.25% 80%,
  43.75% 80%,
  37.5% 90%,
  25% 90%,
  18.75% 80%,
  25% 70%,
  18.75% 60%,
  6.25% 60%,
  0% 50%,
  6.25% 40%,
  0% 30%,
  6.25% 20%,
  18.75% 20%,
  25% 10%,
  37.5% 10%
);
