@use "./variables" as *;

@property --border {
    syntax: '<length>';
    inherits: true;
    initial-value: 0;
}

@property --offset {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}

.border:before {
    content: "";
    position: absolute;
    inset: 0;
    background: black;
    -webkit-mask: paint(polygon-border);
}