body {
  counter-reset: cellValue;
}

:root {
  --hg_05a_red: rgba(255, 0, 0, 0.5);
  --hg_05a_green: rgba(0, 255, 0, 0.5);
  --hg_hex_margin: 4px;
  --hg_num_hex_inline: 10;
  --hg_sqrt3: 1.7320;
  --hg_hex_apothem: 50px;
  /* width = 2 * apothem */
  --hg_hex_width: calc(2 * var(--hg_hex_apothem));
  /* side = 2 * apothem / sqrt3 */
  --hg_hex_side: calc(2 * var(--hg_hex_apothem) / var(--hg_sqrt3));
  /* height = 2 * side */
  --hg_hex_height: calc(2 * var(--hg_hex_side));
  /* perimeter = 6 * side */
  --hg_hex_perimeter: calc(6 * var(--hg_hex_side));
  --f: calc(var(--hg_hex_perimeter) / 2 + 4 * var(--hg_hex_margin) - 1px);
}

.container {
  font-size: 0;
  /* width container = n_hex_inline * (hex_width + 2*hex_margin) */
  width: calc(var(--hg_num_hex_inline) * (var(--hg_hex_width) + 2 * var(--hg_hex_margin)));
}

.hex {
  display: inline-block;
  width: var(--hg_hex_width);
  margin: var(--hg_hex_margin);
  height: var(--hg_hex_height);
  font-size: initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  /* sfasatura verticale */
  margin-bottom: calc(var(--hg_hex_margin) - var(--hg_hex_side) / 2);
}

.hex:nth-child(odd) {
  background: var(--hg_05a_red);
}

.hex:nth-child(even) {
  background: var(--hg_05a_green);
}

.hoverable p {
  position: absolute;
  width: var(--hg_hex_width);
  z-index: 1;
  text-align: center;
  background-color: black;
  color: white;
  visibility: hidden;
}

p:after {
  counter-increment: cellValue;
  content: counter(cellValue);
}

.hoverable:active p {
  visibility: visible;
}

.container:before {
  content: "";
  width: calc(var(--hg_hex_width)/2 + var(--hg_hex_margin));
  float: left;
  height: 120%;
  /* sfasatura orizzontale */
  shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px), #000 0 var(--f));
}